body {
    background-color: #eff1ed;
    padding-left: 125px;
    padding-right: 125px;
}

header {
    display: flex;
}

h1 {
    text-align: left;
    font-size: 50px;
    color:#373d20;
    padding-left: 100px;
    width: 35%;
    border-bottom: #373d20 solid 3px;
}

.Links ul {
    text-align: right;
    padding-top: 30px;
}

.Links ul li {
    display: inline-block;
    min-width: 12rem;
    text-align: center;
    border-right: 1px solid #766153;
    border-width: 2px;
}

.Links ul li:last-child {
    border:none;
}

.Links ul li a { 
    font-size: 30px;
    color: #766153;
}

.Links ul li a:hover {
    color: #bcbd8b;
}

.Description {
    display: flex;
}

.head_shot_link {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}


.head_shot_link a {
    font-size: 25px;
    color: #766153;
    padding-top: 10px;
}

.headshot {
    width: 400px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
    border-color: #373d20;
    border-width: 5px;
    border-style: solid;
}

.Description p {
    padding-left: 25px;
    font-size: 25px;
    color: #373d20;
}
.Pages {
    display: flex;
    padding-top: 20px;
}

.Pages h2 {
    text-align: center;
    font-size: 30px;
    color:#373d20;
    border-bottom: #373d20 solid 3px;
    width: 30%;
    padding-bottom: 5px;
}

.Pages ul {
    text-align: right;
}

.Pages ul li {
    display: inline-block;
    min-width: 16rem;
    text-align: center;
    border-right: 1px solid #766153;
    border-width: 2px;
}

.Pages ul li:last-child {
    border:none;
}

.Pages ul li a { 
    font-size: 30px;
    color: #766153;
}

.Pages ul li a:hover {
    color: #bcbd8b;
}