html {
    scroll-behavior: smooth;
}

body {
    background-color: #eff1ed;
    padding-left: 7.5%;
    padding-right: 7.5%;
}

header {
    display: flex;
}

h1 {
    text-align: center;
    font-size: 40px;
    color:#373d20;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: #373d20 solid 3px;
}

.Pages ul {
    text-align: right;
    padding-top: 15px;
}

.Pages ul li {
    display: inline-block;
    min-width: 16rem;
    text-align: center;
    border-right: 1px solid #766153;
    border-width: 2px;
}

.Pages ul li:last-child {
    border:none;
}

.Pages ul li a { 
    font-size: 30px;
    color: #766153;
}

.Pages ul li a:hover {
    color: #bcbd8b;
}

.Description p {
    padding-left: 25px;
    font-size: 24px;
    color: #373d20;
}

.head_shot_link {
    display: flex;
    flex-direction: column; 
    align-items: center;
    height: fit-content;
    width: 325px;
    float: left;
    margin-right: 25px;
}

.head_shot_link p {
    padding-left: 0px;
    font-size: 30px;
    text-align: center;
}

.head_shot_link p + ul {
    margin-top: -15px;
}

.head_shot_link ul {
    text-align: left;
}

.head_shot_link ul li {
    display: inline-block;
    min-width: 15rem;
    text-align: center;
    border-right: 1px solid #766153;
    border-left: 1px solid #766153;
    border-width: 2px;
}

.head_shot_link ul li a { 
    font-size: 30px;
    color: #766153;
}

.head_shot_link ul li a:hover {
    color: #bcbd8b;
}

.headshot {
    width: 300px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    border-color: #373d20;
    border-width: 5px;
    border-style: solid;
}